## Pandas is table oriented

> I want to start using Pandas

In [1]:
import pandas as pd

To load the pandas package and start working with it, import the package. The community agreed alias for pandas is `pd`, so loading pandas as `pd` is assumed standard practice for all of the pandas documentation.

### Pandas data table representation

![](../schemas/01_table_dataframe.svg)

> I want to store passenger data of the Titanic. For a number of passengers, I know the name (characters), age (integers) and sex (male/female) data.

In [2]:
df = pd.DataFrame({
    "Name": ["Braund, Mr. Owen Harris", 
             "Allen, Mr. William Henry", 
             "Bonnell, Miss. Elizabeth"], 
    "Age": [22, 35, 58],
    "Sex": ["male", "male", "female"]}
    )
df

                       Name  Age     Sex
0   Braund, Mr. Owen Harris   22    male
1  Allen, Mr. William Henry   35    male
2  Bonnell, Miss. Elizabeth   58  female

A `DataFrame` is a 2-dimensional data structure that can store data of different types (including characters, integers, floating point values, categorical data and more) in columns. It is similar to a spreadsheet, a SQL table or the `data.frame` in R. 

- The table above has 3 columns, each of them with a column label. The column labels are `Name`, `Age` and `Sex`, respectively.
- The column `Name` consists of textual data with each value a string, the column `Age` are numbers and the column `Sex` is textual data.

In spreadsheet software, the table representation of our data would look very similar:

![](../schemas/01_table_spreadsheet.png)

<div class="alert alert-info">
    
__Note__: You probably do not want to manually input the data of a DataFrame! In most situations, data stored in a file format are the starting point of an analysis. We will get to that later!

</div>

### Each column in a `DataFrame` is a `Series`

![](../schemas/01_table_series.svg)

> I'm just interested in working with the data in the column `Age`

In [3]:
df["Age"]

0    22
1    35
2    58
Name: Age, dtype: int64

When selecting a single column of a pandas `DataFrame`, the result is a pandas `Series`. To select the column, use the column label in between square brackets `[]`.

<div class="alert alert-info">
    
If you are familiar to Python :ref:`dictionaries <python:tut-dictionaries>`, the selection of a single column is very similar to the selection of dictionary values based on the key.

</div>

You can create a `Series` from scratch as well:

In [4]:
ages = pd.Series([22, 35, 58], name = "Age")
ages

0    22
1    35
2    58
Name: Age, dtype: int64

A pandas `Series` has no column labels, as it is just a single column of a `DataFrame`. A Series does have row labels.

### Do something with a DataFrame or Series

> I want to know the maximum Age of the passengers

We can do this on the `DataFrame` by selecting the `Age` column and applying `max()`:

In [5]:
df["Age"].max()

58

Or on the `Series`:

In [6]:
ages.max()

58

As illustrated by the `max()` method, you can _do_ things with a `DataFrame` or `Series`. Pandas provides a lot of functionality for working with `DataFrame` or `Series`, often defined as methods on those objects. As methods are functions, do not forget to use parentheses `()`.

> I'm interested in some basic statistics of the numerical data of my data table

In [7]:
df.describe()

             Age
count   3.000000
mean   38.333333
std    18.230012
min    22.000000
25%    28.500000
50%    35.000000
75%    46.500000
max    58.000000

The `describe` method provides quick overview of the numerical data in a `DataFrame`. As the `Name` and `Sex` columns are textual data, these are by default not taken into account by the `describe` method. Many pandas operations return a `DataFrame` or a `Series`. The `describe` method is an example of a pandas operation returning a pandas `DataFrame`.


__To user guide:__ check more options on `describe` :ref:`basics.describe`

<div class="alert alert-info">
    
__Note:__ This is just a starting point. Similar to spreadsheet software, pandas represents data as a table with columns and rows. Apart from the representation, also the data manipulations and calculations you would do in spreadsheet software are supported by pandas. Continue reading the next tutorials to get you started!

</div>

## REMEMBER

- Import the package, aka `import pandas as pd`
- A table of data is stored as a pandas `DataFrame`
- Each column in a `DataFrame` is a `Series`
- You can do things by calling a method on a `DataFrame` or `Series`

__To user guide:__ A more extended introduction to `DataFrame` and `Series` is provided in :ref:`dsintro`.